footer .footer-content {
    text-align: center;
}

footer .footer-content div {
    flex: 1;
    margin: 0 10px;
}

footer .footer-content div h3 {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #333;
}

footer .footer-content div p,
footer .footer-content div a {
    color: #666;
    margin: 5px 0;
    text-decoration: none;
    font-size: 0.9rem;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

footer .social-icons a {
    margin: 0 10px;
    color: #a5a5a5;
    font-size: 1.2rem;
}

footer .copyright {
    color: #999;
    font-size: 0.8rem;
    text-align: center;
}
footer > hr{
    width: 80%;
}

/* @media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .footer-content div {
        flex: 1;
        margin: 0 10px;
    }
} */