.custom-navbar {
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Arial', sans-serif;
}

.brand-logo {
  font-weight: bold;
  font-size: 24px;
}

.brand-logo>img {
  width: 73px;
}

.navbar-nav .nav-link {
  color: #000;
  margin-right: 20px;
  font-size: 16px;
}

.navbar-nav .signup-btn {
  border-radius: 20px;
  padding: 7px 15px;
  margin-left: 20px;
  font-weight: bold;
  color: #007bff;
  border: 1px solid #007bff;
  background-color: transparent;
  transition: all 0.3s ease;
}

.navbar-nav .signup-btn:hover {
  background-color: #fff;
  color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
}


.navbar-nav .nav-link,
.signup-btn {
  transition: all 0.3s ease;
}

.navbar-nav .dropdown-toggle::after {
  display: none;
}

#basic-nav-dropdown {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav .nav-link {
  color: #000;
  margin-right: 20px;
  font-size: 16px;
  position: relative;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1.5px;
  background-color: #007bff;
  bottom: 5px;
  left: 0;
  transition: width 0.3s ease;
  border-radius: 3em;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.home-image>img {
  width: 754px;
  height: 600px;
}

.intro-info {
  margin-top: 150px;
}

.intro-info>img {
  width: 300px;
}

.intro-info>p {
  width: 25%;
  font-size: small;
  margin-left: 1.5rem;
}

.intro-info>a {
  border: 0px;
  color: #fff;
  background: rgb(68, 188, 255);
  background: linear-gradient(90deg, rgba(68, 188, 255, 1) 0%, rgba(40, 80, 176, 1) 100%);
}
.intro-info>a:hover{
  color: #fff;
}
.intro-info {
  position: relative;
  padding-left: 30px; /* Xəttin p-nin mətni ilə arasını tənzimləmək üçün */
}

.intro-info > p::before {
  content: '';
  position: absolute;
  top: 171px;
  left: 35px;
  width: 1.5px;
  height: 21%;
  background: rgb(68, 188, 255);
  background: linear-gradient(90deg, rgba(68, 188, 255, 1) 0%, rgba(40, 80, 176, 1) 100%);
  border-radius: 15px;
}

